# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [6]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [7]:
CitiesData = "../WeatherPy/output_data/cities.csv"
CitiesDataDF = pd.read_csv(CitiesData)
CitiesDataDF.head()

,City,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed,Country
0,villa maria,-32.41,-63.24,46.00,44,0,4.00,AR
1,dourbali,11.81,15.86,73.15,92,99,6.78,TD
2,katsuura,35.13,140.30,97.00,66,20,8.05,JP
3,promissao,-21.54,-49.86,72.32,45,27,5.32,BR
4,bredasdorp,-34.53,20.04,46.40,87,0,9.17,ZA

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [8]:
gmaps.configure(api_key=g_key)

In [10]:
locations = CitiesDataDF[["Lat", "Lon"]].astype(float)
Humidityy = CitiesDataDF["Humidity"].astype(float)
len(locations)

547

In [13]:
Figure = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=Humidityy,dissipating=False, max_intensity=100,
                                 point_radius = 1)
Figure.add_layer(heat_layer)

Figure

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [16]:
hotel_df = CitiesDataDF.dropna()
hotel_df

,City,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed,Country
0,villa maria,-32.41,-63.24,46.00,44,0,4.00,AR
1,dourbali,11.81,15.86,73.15,92,99,6.78,TD
2,katsuura,35.13,140.30,97.00,66,20,8.05,JP
3,promissao,-21.54,-49.86,72.32,45,27,5.32,BR
4,bredasdorp,-34.53,20.04,46.40,87,0,9.17,ZA
...,...,...,...,...,...,...,...,...
542,blagoyevo,63.37,47.92,44.94,89,45,2.24,RU
543,huambo,-12.78,15.74,51.39,43,0,1.66,AO
544,tongliao,43.61,122.27,83.16,46,0,20.45,CN
545,noumea,-22.28,166.46,75.20,50,8,16.11,NC
546,paramirim,-13.44,-42.24,67.46,77,61,5.41,BR

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [18]:
hotel_df["Hotel Name"] = ""
hotel_df

,City,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Hotel Name
0,villa maria,-32.41,-63.24,46.00,44,0,4.00,AR,
1,dourbali,11.81,15.86,73.15,92,99,6.78,TD,
2,katsuura,35.13,140.30,97.00,66,20,8.05,JP,
3,promissao,-21.54,-49.86,72.32,45,27,5.32,BR,
4,bredasdorp,-34.53,20.04,46.40,87,0,9.17,ZA,
...,...,...,...,...,...,...,...,...,...
542,blagoyevo,63.37,47.92,44.94,89,45,2.24,RU,
543,huambo,-12.78,15.74,51.39,43,0,1.66,AO,
544,tongliao,43.61,122.27,83.16,46,0,20.45,CN,
545,noumea,-22.28,166.46,75.20,50,8,16.11,NC,
546,paramirim,-13.44,-42.24,67.46,77,61,5.41,BR,

In [20]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {"rankby": "distance",
            "keyword": "hotel",
            "key": g_key,}
# use iterrows to iterate through pandas dataframe
for index, row in hotel_df.iterrows():

    # get restaurant type from df
    City = row['City']
    locations = CitiesDataDF[["Lat", "Lon"]].astype(float)

    # add location to params dict
    params['location'] = City

    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {City}.")
    HotelResponse = requests.get(base_url, params=params).json()
    
    # extract results
    results = HotelResponse['results']
    try:
        print(f"The closest hotel in the city: {City} is {results[0]['name']}.")
        
        types_df.loc[index, 'name'] = results[0]['name']
        types_df.loc[index, 'address'] = results[0]['vicinity']
        types_df.loc[index, 'price_level'] = results[0]['price_level']
        types_df.loc[index, 'rating'] = results[0]['rating']
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

In [25]:
HotelResponse

{'html_attributions': [], 'results': [], 'status': 'INVALID_REQUEST'}

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure